---
---
@import "{{ site.theme }}";

header h1:before { content: ""; font-size: 24px; }

.sql_tab{
  font-size: 10px;
  border-collapse: collapse;
}

.sql_left_container{
  float: left; 
  width: auto; 
  position: fixed;
  left: 20px;
  top: 130px;
  font-size: 10px;
}

table {
  font-size: 10px;
  border-collapse: collapse;
}

#a-link { 
  // text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 8px;
}

#div-nav {
  margin: 10px 0 0 -40px;
}

p{
  line-height: 1.6;
}

// .highlight .err { color: #d0d0d0; background-color: #00000000; }

